@mixin drop-shadow($colour) {
    filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(0px, 4px rgba(0, 0, 0, 0.1));
}
@mixin box-shadow($coulor) {
    box-shadow: 0px 2px 4px ($coulor);
}
@mixin text-shadow($colour) {
    text-shadow: 0px 1px 2px ($colour);
}

/*** Border-raduis ***/
@mixin bord-rad_ico_location {
    border-radius: 10px 0px 0px 10px;
}
@mixin bord-rad_input-research {
    border-radius: 0px 10px 10px 0px;
}

@mixin var_linear-gradient($colour: lightness-shift($bg_linear-gradient)) {
    background: $colour;
}

/*** Animation::after ***/
@mixin pseudo-pos {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin card_nav {
    background: #f7f7f7;
    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@mixin card_restaurants {
    background: #ffffff;
    /* Shadow/Card */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 251px;
    width: 100%;
}
@mixin new_card {
    position: absolute;
    top: 11.5px;
    right: 10.5px;
    padding: 6.5px 12.5px;
    color: $color-green-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
