/****** [ Accueil N°3 Fonctionnement  ] ******/

.fonctionnement {
  background-color: $color-white;
  padding-bottom: 65px;

  /*** a supprimer ***/
}
.font_h2_acceuil {
  @include font_h2_acceuil;
  align-self: flex-start;
  margin: 48px 0 6px 20px;
}
.nav_block {
  display: inline-flex;
  margin: 24.5px 0 0 20px;
  flex-flow: row;
  align-items: center;
  &:nth-child(1) i {
    color: $color-nav-ico;
    font-size: 19px;
    left: -1px;
    top: -1.25px;
  }
  &:nth-child(2) i {
    color: $color-nav-ico;
    left: 2px;
    top: 1px;
  }
  &:nth-child(3) i {
    color: $color-primary;
    left: 4px;
    top: 1px;
  }
}

.nav_num {
  @include font_nav_num;
  width: 24px;
  height: 24px;
  background-color: $color-primary;
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.nav_content {
  @include card_nav;
  width: 322.5px;
  height: 72.9px;
  margin-left: 12px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  i {
    font-size: 18px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 26px;
    margin-right: 18px;
    position: relative;
  }
  &:hover {
    background: lightness-shift($bg_nav-card);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    > .nav_num {
        transform: rotate3d(0, 1, 0, 1turn);
        transition: all 1s;
    }
  }
}
