/************--Loader--************/
$loader_bg: transparent;
$radius: 50%;
$border_width: 5vw;
$border_height: 5vh;

.loader {
  position: absolute;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  height: 0vh;
  width: 0vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: -o-linear-gradient(left, #ff79da, #9356dc);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff79da),
    to(#9356dc)
  );
  background: linear-gradient(to right, #ff79da, #9356dc);
  z-index: 6;
  // -webkit-animation: rotate 15.75s ease-in-out infinite alternate forwards;
  animation: rotate 5s ease-in-out 1 alternate forwards;
}
.loader--shift {
  background: #ff79da;
  opacity: 1;

  animation: color_shift 1.666s 1ms ease-in-out 4 alternate-reverse forwards;
  height: 0vh;
  width: 0%;
  left: 0;
  top: 0;
}
.loader--logo {
  position: absolute;
  left: 0;
  top: 0;

  width: calc(96vw);
  max-width: 100%;
  height: calc(80vh);
  max-height: 100vh;

  box-sizing: content-box;
  margin: 0 auto;
  border-right: 2vw solid transparent;
  border-left: 2vw solid transparent;
  border-top: 2vh solid transparent;
  border-bottom: 2vh solid transparent;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  animation: omyfood 5s ease-in-out 1 alternate forwards;
  text-align: center;
  z-index: 9;

  .omyfood {
    top: 15vh;
    left: 15vw;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    height: auto;
    font-family: "Shrikhand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14vw;
    border: 1px solid transparent;
    background: radial-gradient(
        circle farthest-corner at center center,
        white,
        #111
      )
      no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150%;
    background-position: center;
    animation: omyfood 5s ease-in-out 1 alternate forwards;
    > span {
      display: block;
      text-align: center;
      font-size: 75%;
    }
    > i {
      position: relative;
    }
    i:nth-child(1) {
      font-size: 0%;
      animation: i_fonts 0.75s ease-in-out 0s 1 alternate forwards;
    }
    i:nth-child(2) {
      font-size: 0%;
      animation: i_fonts 0.5s ease-in-out 0.8s 1 alternate forwards;
    }
    i:nth-child(3) {
      font-size: 0%;
      animation: i_fonts 0.65s ease-in-out 1.25s 1 alternate forwards;
    }
    i:nth-child(4) {
      font-size: 0%;
      animation: i_fonts 0.75s ease-in-out 2s 1 alternate forwards;
    }
  }
}
