/****** --Media queries-- ******/
/***!! [--1024px--] ****/
@media screen and (min-width: 768px) {
  .margin {
    margin: 0 5.155vw;
    max-width: calc(1440px - 5.155vw * 2);
  }
  /****** [Header] ******/
  .full-heading {
    height: 96px;
  }
  .head {
    &__logo {
      position: relative;
      width: 200px;
      padding: 0 1px 0 0;
    }
  }
  .head__return {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 24px;
    top: 14px;
    font-size: 1.2258em;
    color: $color-logo-font;
    align-self: flex-start;
  }

  /****** [ Accueil N°2 Presentation ] ******/
  .presentation {
    margin: 0;
    a {
      padding: 15px 21.5px 16px 21.5px;
    }
  }

  .font_h1 {
    @include font_presentation_h1;
    margin: 30px 0px 1px 0px;
    letter-spacing: -0.7px;
    font-size: 40px;
    line-height: 47px;
  }
  .font_h1_p {
    margin: 30px 0 1px -2.5px;
    letter-spacing: 0.0082px;
  }
  /*BUTTON*/

  .local_style_gradient {
    margin: 30px 0 28px -26px;
  }

  /****** [ Accueil N°3 Fonctionnement  ] ******/

  .fonctionnement {
    padding-top: 2px;
    padding-bottom: 50px;
  }
  .font_h2_acceuil {
    @include font_h2_acceuil;
    margin: 48px 0 7px -0.5px;
  }

  .nav {
    align-self: center;
    .nav_content:nth-child(1) i {
      top: -1px;
    }
    .nav_content:nth-child(3) i {
      left: 8px;
    }
  }

  /****** [ Accueil N°3 Restaurants  ] ******/

  /* SECTION-PRINCIAL*/

  /* TITLE*/
  .margin {
    h2.font_h2_restaurants {
      margin: 26px 0 29px 0;
    }
    /* SECTION-SECONDAIRE*/
    .grid_restaurant {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 0px 0px 144px 0px;
      margin: -0px 0 0 0;
      gap: 50px;
    }

    .card_restaurants {
      max-width: 490px;

      &:nth-child(1) {
        background-size: cover;
        background-position: center -65px;
      }
      &:nth-child(2) {
        background-size: cover;
        background-position: center -19vw;
      }
      &:nth-child(3) {
        background-size: cover;
        background-position: left -90px;
      }
      &:nth-child(4) {
        background-size: cover;
        background-position: center -80px;
      }
    }
  }
  /* SECTION-CARD*/
  .card_title {
    margin: 0;
    padding: 15.25px 0 0 20px;
  }
  .card_description {
    margin: 0;
    padding: 2px 0 0 20px;
  }

  /****** [Footer] ******/

  footer {
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    height: 114px;
    bottom: 0;
    left: 0px;

    .footer {
      align-self: flex-end;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: calc(100% - 0px);
      position: absolute;
      left: 0px;
      box-sizing: border-box;
      gap: 25px 6.51vw;
      padding: 25px 3.5vw 25px 10vw;

      a {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
      }
      > a {
        top: -35px;
        right: 37.25vw;
        position: relative;
      }
      .footer_subscription {
        display: inline-flex;
        flex-flow: row nowrap;
        width: 682px;
        height: 20px;
        box-sizing: content-box;
        margin: 0;
        align-self: center;
        gap: 12.5px 3vw;
      }
      > a:nth-child(2) {
        > i {
          position: relative;
          top: -0.5px;
          left: -3px;
          margin-left: 6px;
        }
      }
      .footer_contact {
        display: inline-flex;
        flex-flow: row nowrap;
        height: 20px;
        gap: 12.5px 3.55vw;
      }
    }
  }
}
@media screen and (min-width: 820px) {
  footer {
    .footer {
      gap: 25px 6.51vw;
      padding: 25px 6.51vw;

      > a {
        top: 0px;
        right: 0vw;
        position: relative;
      }

      .footer_subscription {
        gap: 12.5px 3.255vw;
      }
      .footer_contact {
        gap: 12.5px 3.255vw;
      }
    }
  }
}
@media screen and (min-width: 970px) {
  .margin {
    margin: 0 5.155vw;
    max-width: calc(1440px - 5.155vw * 2);
    h2.font_h2_restaurants {
      margin: 26px 0 29px 0;
    }
    /* SECTION-SECONDAIRE*/
    .grid_restaurant {
      padding: 0px 2.5775vw 144px 2.5775vw;
    }

    .card_restaurants {
      &:nth-child(2) {
        background-size: cover;
        background-position: center -21vw;
      }
      &:nth-child(4) {
        background-size: cover;
        background-position: center -100px;
      }
    }
  }
  footer {
    .footer {
      .footer_contact {
        > a:nth-child(2) {
          left: 54px;
        }
      }
    }
  }
}
@media screen and (min-width: 1050px) {
  .margin {
    margin: 0 5.714vw;
    max-width: calc(1440px - 5.714vw * 2);
    /* SECTION-SECONDAIRE*/
    .grid_restaurant {
      padding: 0px 2.5775vw 144px 2.5775vw;
      margin: -0px 0 0 0;
      gap: 50px calc(5.714vw * 1.1);
    }

    .card_restaurants {
      &:nth-child(1) {
        background-size: cover;
        background-position: center -6.19vw;
      }
      &:nth-child(2) {
        background-size: cover;
        background-position: center -20vw;
      }
      &:nth-child(3) {
        background-size: cover;
        background-position: center -90px;
      }
      &:nth-child(4) {
        background-size: cover;
        background-position: center -100px;
      }
    }
  }
  footer {
    .footer {
      .footer_contact {
        > a:nth-child(1) {
          left: 27px;
        }
      }
    }
  }
}
@media screen and (min-width: 1150px) {
  .margin {
    margin: 0 7.826vw;
    max-width: calc(1440px - 7.826vw * 1.8);
    /* SECTION-SECONDAIRE* calc(-18vw * 0.5vw) /*/
    .grid_restaurant {
      padding: 0px 2.5775vw 144px 2.5775vw;
      margin: -0px 0 0 0;
      gap: 50px 75px;
    }

    .card_restaurants {
      &:nth-child(2) {
        background-position: center 17vw;
      }
      &:nth-child(3) {
        background-size: cover;
        background-position: center -115px;
      }
      &:nth-child(4) {
        background-size: cover;
        background-position: center -115px;
      }
    }
  }
  @media screen and (min-width: 1250px) {
    .margin {
      margin: 0 calc(18vw * 1.2);
      max-width: calc(1440px - 360px);
      /* SECTION-SECONDAIRE*/
      .grid_restaurant {
        padding: 0px 2.5775vw 144px 2.5775vw;
        margin: -0px 0 0 0;
        gap: 50px 75px;
      }
    }
  }
}
@media screen and (min-width: 1300px) {
  .margin {
    margin: 0 125px;
    /* SECTION-SECONDAIRE*/
    .grid_restaurant {
      padding: 0px 0vw 144px 0vw;
      margin: -0px 0 0 0;
      gap: 50px 100px;
    }
  }
}
@media screen and (min-width: 1370px) {
  .margin {
    margin: 0 150px;
    /* SECTION-SECONDAIRE*/
    .grid_restaurant {
    }
  }
}
@media screen and (min-width: 1390px) {
  footer {
    .footer {
      gap: 25px;
      padding: 25px;

      a {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
      }

      .footer_subscription {
        align-self: center;
        gap: 12.5px;

        .footer_contact {
          gap: 12.5px;
        }
      }
    }
  }
}
