/****** --Media queries-- ******/
/***!! Clearing-inf: 375px ****/
@media screen and (max-width: 370px) {
  /****** [ Accueil N°3 Restaurants  ] ******/
  .card_restaurants {
    &:nth-child(2) {
      background-position: center calc(89% + -1.2666vw);
    }
  }
  .main {
    .gourmet_menu {
      top: -13.78vw;
    }
    .head_img {
      width: 100%;
      max-width: 1440px;
      min-height: 265px;
      height: 70.66vw;
      max-height: 385px;
      object-fit: cover;
      object-position: center;
      background-color: aquamarine;
      background: $la_palette_du_gout;
      background-size: 140%;
      background-position: -80px -13.78vw;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
  /*** ----Restarants--- ***/
  .main {
    .gourmet_menu {
      /*titre-h1*/
      &--title {
        .like {
          margin-left: 4.8vw;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  /****** [ Accueil N°3 Restaurants  ] ******/
  .card_restaurants {
    &:nth-child(2) {
      background-position: center calc(89% + -2.27666vw);
    }
  }
}
@media screen and (max-width: 335px) {
  /****** [ Accueil N°2 Presentation ] ******/
  .font_h1 {
    margin: 40px 10px 1px 10px;
  }
  .font_h1_p {
    margin: 12px 10px 1px 10px;
  }
  /****** [ Accueil N°3 Restaurants  ] ******/
  .card_restaurants {
    &:nth-child(2) {
      background-position: center calc(89% - 18.5px);
    }
  }
}
/***!! [ +--375px--] ****/

@media screen and (min-width: 383px) {
  /****** [ Accueil N°3 Fonctionnement  ] ******/
  .nav {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  /****** [ Accueil N°3 Restaurants  ] ******/
  .card_restaurants {
    &:nth-child(2) {
      background-position: center -31.05vw;
    }
  }
  .grid_restaurant {
    padding: 23px 5.128vw 67.5px 5.128vw;
  }
}
@media screen and (min-width: 390px) {
  /****** [ Accueil N°3 Restaurants  ] ******/
  .margin {
    .card_restaurants {
      &:nth-child(2) {
        background-position: center calc(-41vw * 0.9);
      }
    }
    .grid_restaurant {
      padding: 23px 5.128vw 67.5px 5.128vw;
      gap: 5.128vw;
    }
  }
}
@media screen and (min-width: 412px) {
  /****** [ Accueil N°3 Restaurants  ] ******/
  .margin {
    .card_restaurants {
      &:nth-child(2) {
      }
      .grid_restaurant {
        padding: 23px 6.667vw 67.5px 6.667vw;
        gap: 5.128vw;
      }
    }
  }
}
@media screen and (min-width: 428px) {
  /****** [ Accueil N°3 Restaurants  ] ******/

  .grid_restaurant {
    padding: 23px 7.692vw 67.5px 7.692vw;
    gap: 5.128vw;
  }
}
@media screen and (min-width: 450px) {
  /****** [ Accueil N°3 Restaurants  ] ******/
  .card_restaurants {
    &:nth-child(2) {
      background-position: center -38.7vw;
    }
  }
  .grid_restaurant {
    padding: 23px 8.889vw 67.5px 8.889vw;
    gap: 5.128vw;
  }
}
@media screen and (min-width: 485px) {
  .margin {
    margin: 0 7.826vw;
    max-width: calc(1440px - 7.826vw * 1.8);
    .card_restaurants {
      &:nth-child(2) {
        background-position: center calc(-41vw * 0.85);
      }
    }
  }
}
@media screen and (min-width: 570px) {
  .nav_content {
    width: calc(322.5px - 32px);
  }
  .margin {
    margin: 0 12.281vw;
    max-width: calc(1440px - 12.281vw * 2);
    .card_restaurants {
      &:nth-child(2) {
        background-position: center calc(-41vw * 0.8);
      }
    }
  }
}
