/****** [Header] ******/

.full-heading {
  @include box-shadow(rgba(0, 0, 0, 0.15));
  display: flex;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 63px;
  background-color: $color-white;
  margin: 0 auto;
  .head {
    &__return {
    }
  }
}
.head {
  position: relative;
  width: 100%;
  max-width: calc(1440px - 0px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  &__logo {
    width: 163.5px;
    height: 44px;
    padding: 13px 1px 0 0;
    object-fit: contain;
    align-self: center;
  }
  &__return {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 24px;
    top: 22px;
    font-size: 1.2258em;
    color: $color-logo-font;
    align-self: flex-start;
  }
}
