/****** [Footer] ******/
footer {
  background-color: $color-location-font;
  height: 142.25px;
  width: 100vw;
  margin: auto;
  padding: 21.75px 25px 22px 25px;
  box-sizing: border-box;
  .footer {
    display: flex;
    flex-flow: column;
    width: calc(100% - 50px);
    max-width: 1440px;
    transition: all 155ms ease-in-out;
    a {
      color: $color-white;
    }
    > a {
      @include footer_logo;
      margin-bottom: 16.5px;
      max-width: 138.5px;
    }
    .footer_subscription {
      @include footer_subscription;
      display: flex;
      flex-flow: column;
      width: 190px;
      height: 50px;
      margin: 0;
      a {
        margin-bottom: 8px;
        &:nth-child(1) > i {
          font-size: 13px;
          padding-right: 6px;
        }
        &:nth-child(2) > i {
          font-size: 12px;
          padding-right: 2px;
        }
      }
    }
    &:hover a {
      max-width: 190px;
      transition: all 720ms ease-in-out;
      color: lightness-shift($color-nav-ico);
      &:hover {
        transition: all 350ms ease-in-out;
        @include text-shadow(rgba(0, 0, 0, 0.35));
        color: $color-white;
      }
      &:nth-child(1):hover > i {
        transform: rotate3d(0, 1, 0, 1turn);
        animation: utensils 1330ms 330ms 2 alternate-reverse;
      }
      &:nth-child(2):hover > i {
        transform: rotate(0deg);
        animation: handshake 2030ms 1 linear;
      }
    }
    .footer_contact {
      display: flex;
      flex-flow: column;
      @include footer_contact;
      max-width: 130px;
      margin-top: -1px;
    }
  }
}
