/****** [ Animation ] ******/
/****** [ Accueil N°1 search-location  ] ******/
@keyframes ico-location {
    0% {
        color: $color-primary;
        background: $bg-color-localization;
        animation-timing-function: ease-in-out;
        background-clip: border-box;
        background-position: 0% 50%;
    }
    39% {
        color: $color-location-font;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    50% {
        color: lightness-shift($color-location-font);
        background: lightness-shift($bg-color-localization);
        background-position: 100% 50%;
        opacity: 0.25;
        animation-timing-function: ease-in-out;
    }

    61% {
        color: $color-location-font;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    70% {
        background-clip: border-box;
        animation-timing-function: linear;
        color: $color-primary;
        background: $bg-color-localization;
    }
    100% {
        color: transparent;
        background: $bg_linear-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 0% 50%;
        animation-timing-function: ease-out;
    }
}
@keyframes gradient_move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/****** [ Accueil N°3 Restaurants  ] ******/
@keyframes heart {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@keyframes heart-stroke {
    0% {
        -webkit-text-stroke: 1px black;
    }
    100% {
        -webkit-text-stroke: 1px transparent;
    }
}
/****** [Footer] ******/
@keyframes handshake {
    0% {
        transform: rotate(60deg) translate(0px, 2px);
        animation-timing-function: ease-in;
    }

    25% {
        transform: translate(0px, -2px) rotate(60deg);
    }

    50% {
        transform: translate(0px, 0px) rotate(30deg);
    }
    75% {
        transform: translate(0px, 2px) rotate(0deg);
        animation-timing-function: ease-in;
    }
    81% {
        transform: translate(0px, -2px) rotate(0deg);
        animation-timing-function: linear;
    }
    87% {
        transform: translate(0px, 2px) rotate(0deg);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translate(0px, -2px) rotate(0deg);
        animation-timing-function: linear;
    }
    99% {
        transform: translate(0px, 2px) rotate(0deg);
        animation-timing-function: ease-out;
    }
}
@keyframes utensils {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in;
    }

    25% {
        transform: translate(0px, -5px) rotate3d(0, 1, 0, 1turn);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
        animation-timing-function: ease-in-out;
        color: $color-white;
    }
    75% {
        transform: translate(0px, -5px) rotate3d(0, 0, 0, 1turn);
        animation-timing-function: ease-out;
        color: lightness-shift($color-nav-ico);
    }
}

@keyframes selector {
    0% {
        border-radius: 15px;
    }
    2% {
        border-radius: 15px 0 0 15px;
    }
    100% {
        width: calc(100% - 59px); //ici
        right: 0;
        border-radius: 15px 0 0 15px;
    }
}

@keyframes after_selector {
    0% {
    }

    100% {
        z-index: 100;
        width: 59px;
        height: 69px;
        left: calc(100% - 0px); //ici 500px
        top: 0px;
        right: 59px; //ici 59px
        background: #99e2d0;
        border-radius: 0px 15px 15px 0px;
    }
}
/********************loader**************************/

@keyframes rotate {
    0% {
        height: 100vh;
        width: 100%;
        background-size: 500%;
        background-position: left 0% top 100%;
    }
    25% {
        background-position: left 100% top 100%;
    }
    50% {
        background-position: left 50% top 50%;
    }
    75% {
        background-position: left 0% top 0%;
        opacity: 1;
    }
    99% {
        z-index: 6;
        height: 100vh;
        width: 100%;
    }
    100% {
        z-index: -999;
        background-position: left 0% top 100%;
        height: 0%;
        width: 0%;
        left: 0;
        top: 0;
        opacity: 0;
        display: none;
    }
}
@keyframes color_shift {
    0% {
        height: 100vh;
        width: 100%;
        background-size: 500%;
        background-position: left 0% top 100%;
    }
    1% {
        -webkit-filter: hue-rotate(0deg);
    }
    25% {
        background-position: left 100% top 100%;
    }
    50% {
        -webkit-filter: hue-rotate(-50deg);
        background-position: left 50% top 50%;
    }
    75% {
        background-position: left 0% top 0%;
        opacity: 1;
    }
    99% {
        z-index: 6;

        height: 100vh;
        width: 100%;
        left: 0vw;
        top: 0vh;
    }
    100% {
        -webkit-filter: hue-rotate(0deg);
        z-index: -999;
        background-position: left 0% top 100%;
        height: 0vh;
        width: 0vw;
        left: 0vw;
        top: 0vh;
        opacity: 0;
        display: none;
    }
}
@keyframes i_fonts {
    100% {
        font-size: 0%;
    }
    100% {
        font-size: 100%;
    }
}
@keyframes span_fonts {
    0% {
        font-size: 73.333%;
    }
    100% {
        font-size: 100%;
    }
}
@keyframes omyfood {
    0% {
        background-size: 0%;
        background-position: right;
        opacity: 0.1;
    }
    7% {
        background-size: 90%;
        background-position: center;
    }
    14% {
        opacity: 1;
    }
    21% {
        background-size: 150%;
        background-position: right;
    }
    45% {
        background-size: 300%;
        background-position: right;
    }
    75% {
        background-size: 150%;
        background-position: center;
    }
    80% {
        background-size: 450%;
        background-position: center;
        opacity: 1;
    }
    97% {
        background-size: 700%;
        background-position: center;

        z-index: 9;
    }
    100% {
        background-size: 700%;
        background-position: center;
        opacity: 0;
        display: none;
        z-index: -111;
    }
}
