/****** [General] ******/

* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    background-color: $bg-color-main;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

a,
a:active,
a:visited {
    color: black;
    text-decoration: none;
}

.margin {
    position: relative;
    margin: 0 20px;
    width: 100%;
    max-width: calc(1440px - 320px);
}
